<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de citas</title>
</head>
<body>
    <h1>Lista de citas</h1>
    <table>
        <thead>
             <tr>
                <th>Fecha</th>
                <th>Paciente_id</th>
                <th>Medico_id</th>
                <th>Consultorio_id</th>
                <th>Valor</th>
                
            </tr>
        </thead>
    <tbody>
        {% for cita in citas %}
            <tr>
                <td> {{  cita.fecha}} </td>
                <td> {{  cita.paciente_id }} </td>
                <td> {{  cita.medico_id }} </td>
                <td> {{  cita.consultorio_id}} </td>
                <td> {{  cita.valor }} </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot></tfoot>
    </table>
<!-- Contenido de tu página va aquí -->

</body>
</html>