<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de consultorio</title>
</head>
<body>
    <h1>Lista de consultorio</h1>
    <table>
        <thead>
             <tr>
                <th>Numero</th>
                
            </tr>
        </thead>
    <tbody>
        {% for consultorio in consultorios %}
            <tr>
                <td> {{  consultorio.numero}} </td>
               
            </tr>
        {% endfor %}
    </tbody>
    <tfoot></tfoot>
    </table>
<!-- Contenido de tu página va aquí -->

</body>
</html>