<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu página</title>
</head>
<body>
    <h1>Detalle de pacientes</h1>
    <ul>
        <li> Nombre: {{ pa.nombre }} </li>
        <li> Apellido: {{pa.apellidos}} </li>
        <li> tipo_identificacion: {{pa.tipo_identificacion}} </li>
        <li> numero_identificacion: {{pa.numero_identificacion}} </li>
        <li> altura: {{pa.altura}} </li>
        <li> tipo_sangre: {{pa.tipo_sangre}} </li>
    </ul>
    <!-- Contenido de tu página va aquí -->

</body>
</html>